#matches {
    border:1px solid;
}
#matches-wrapper {
    width:40%;
    margin: auto;
}

#matches .country-name {
    background-color:#ffb3b3;
    margin-top:10px;
    font-size:13px;
    display: block;

}
#matches .stadium-name {
    background-color:#ffe6e6;
    font-size:15px;
    display: block;
}

#matches .goals {
    font-size:15px;
    color:black;
    padding-left:5px;
}
#matches .on-target {
    padding-left:3px;
    padding-right:5px;
    font-size:10px;
    color: gray;
}
#matches .teams {
    font-size:15px;
    font-family: Georgia;
}

#search-box {
    display:none;
    margin-left:5px;
    margin-top:60px;
    padding-left:10px;
    width: 300px;
    height:180px;
    border: 3px solid red;
    float:left;
}
#result-box {
    float:left;
    margin-top:25px;
    padding:5px;
    width: 290px;
}

#select-pos {
    margin-top:10px;
}
#select-topsub {
    margin-top:10px;
}
#search-button {
    margin-top:10px;
}
#search-img {
    width: 60px;
    height: 60px;
    float:left;
}